@page "/Login"
@model BlazorApp.Pages.Login
@using BlazorApp.Services
@using BlazorApp.Models
@inject APIservice APIservice

@{
    ViewData["Title"] = "Log in";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error</title>
    <link href="~/css/bootstrap/bootstrapPulse.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <style>
        .container-fluid {
            margin-top: 100px; /* Adjust the value as needed */
        }
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                <h1 class="text-start">@ViewData["Title"]</h1>
                <form id="registerForm" method="post">
                    <h2>Bienvenido de vuelta</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                               placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label>Empresas</label>

                        <select id="empresas" class="form-control" autocomplete="Empresa" placeholder="Empresa">
                            @foreach (Emisor e in @Model.listaEmisor)
                            {
                                <option value="@e.Codigo">@e.Codigo: @e.NombreEmisor</option>
                            }
                        </select>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password"
                               aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="form-label">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="mt-2">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Olvidaste tu contraseña?</a>
                        </p>
                    </div>
                    <div class="d-grid gap-2">
                        <a href="login" class="btn btn-primary">Login</a>
                        <a href="signUp" class="btn btn-primary">Sign Up</a>
                    </div>
                    <div class="mt-2">
                        <p>
                            <a asp-page="./Register">Registrate como nuevo usuario</a>
                        </p>
                    </div>
                </form>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                <img src="~/login.svg" alt="LoginImage" class="img-fluid w-50">
            </div>
        </div>
    </div>

</body>
</html>